:root {
  color-scheme: dark;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #060606 !important;
  box-sizing: border-box;
}

input[type='text'] {
  border: 1px solid #333;
  outline: none;
  background: #000;
  color: #ddd;
}

b {
  font-weight: 500;
}

i {
  font-style: italic;
}
